@import "tailwindcss";

@theme {
  --animate-shine: shine 1.5s ease-in-out infinite;
}

@keyframes shine {
  0% { transform: translateX(-200%) skewX(-12deg); }
  100% { transform: translateX(200%) skewX(-12deg); }
}

.perspective-1000 {
  perspective: 1000px;
}
